@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin:20px;
}
form{
    width:100%;
    padding:10px;
}
form>input{
    border: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding-left:10px;
    padding-right:10px;
    width:200px;
}
form>input:invalid{
    animation: shake 300ms;
    border: 1px solid red;
}
@keyframes shake{
    25% {transform: translateY(4px);}
    50% {transform: translateY(-4px);}
    75% {transform: translateY(4px);}
}

form>input#logo{
    display:none;
}
form>input#logo + label{
    background-color: #4d8cf2;
    padding:5px;
    color:white;
    border: 2px solid white;
    border-radius: 9px;
}
form>input#logo + label:hover{
    border-color: black;
    cursor:pointer;
}

form>button{
    border:none;
    border-radius:5px;
    width:200px;
    background-color: blue !important;
    color:white;
}
form>button:hover{
    background-color: darkblue !important;
}